/* 整体配色改成蓝色 */
:root {
    --vp-c-blue-1: #3b82f6;
    --vp-c-blue-2: #60a5fa;
    --vp-c-blue-3: #93c5fd;
    --vp-c-blue-soft: rgba(59, 130, 246, 0.16);
}

/* 整体配色改成蓝色（暗黑模式） */
.dark {
    --vp-c-blue-1: #3b82f6;
    --vp-c-blue-2: #60a5fa;
    --vp-c-blue-3: #93c5fd;
    --vp-c-blue-soft: rgba(59, 130, 246, 0.16);
}

/* 应用蓝色主题 */
:root {
    --vp-c-brand-1: var(--vp-c-blue-1);
    --vp-c-brand-2: var(--vp-c-blue-2);
    --vp-c-brand-3: var(--vp-c-blue-3);
    --vp-c-brand-soft: var(--vp-c-blue-soft);
}

/* 设置主题字体颜色 */
:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #3b82f6, #60a5fa);

    /* 设置右图像渐变 */
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #3b82f6 30%, #93c5fd 70%);
    --vp-home-hero-image-filter: blur(130px);
}

/* 引用块配色 */
.vp-doc blockquote {
    background-color: #f0f9ff;
    border-left: solid #3b82f6 !important;
}

/* 引用块配色（暗黑模式） */
.dark .vp-doc blockquote {
    background-color: #1e3a8a;
    border-left: solid #60a5fa !important;
}

/* 引用块配色（暗黑模式字体） */
.dark .vp-doc blockquote > p {
    color: #bfdbfe;
}